@import '../mixins';

section {
  height: 100vh;
  position: relative;
  &:after {
    content: attr(name);
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 1em;
    padding-top: 1em;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 700;
  }
}

#one-tone-text-shadow {
  h1 {
    @include text-close-shade(10, (#ff00ff, #ffd800), true);
  }
}

.cleared-underline {
  @include underline(#f3a801, 2, 3);
}
