@mixin text-close-shade($depth, $colors, $printer-shade: false) {
    $colorOne: nth($colors, 1);
    $colorTwo: if(length($colors) > 1, nth($colors, 2), nth($colors, 1));
    $prefix: if($printer-shade, "", "-");
    $shadow: (0px 1px $colorOne, #{$prefix}1px 0px $colorTwo) + ", ";
    @for $i from 1 through $depth {
        $shadow: $shadow + (#{$prefix}($i)-1px #{$i}px $colorOne, #{$prefix}#{$i}px ($i)-1px $colorTwo) + if($i == $depth, "", ", ");
    }
    text-shadow: $shadow;
}

@mixin underline($color, $baseline, $thickness: 1, $background: #fff) {
    background-image: linear-gradient(0deg, transparent, transparent #{$baseline}px, $color 0, $color #{$baseline+$thickness}px, transparent 0);
    text-shadow: .03em 0 $background, -.03em 0 $background, 0 .03em $background, 0 -.03em $background, .06em 0 $background, -.06em 0 $background, .09em 0 $background, -.09em 0 $background, .12em 0 $background, -.12em 0 $background;
}